.App {
  align-items: center;
  justify-content: center;
  background: url('./assets/sky.png');
  background-color: #f5f5f5;
  background-size: cover;
}

@media only screen and (max-width: 1023px) {
.App {
  background-size: 2000px;
  background-repeat: no-repeat;
}
}